*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
}
#slider{
    position: relative;
    margin: auto;
    height: 400px;
    width: 800px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#slider div{
   position: absolute;
}
#next,#prev{
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    cursor: pointer;
    top: 180px;
}
#next{
    background-image: url("img/next.png");
    right: 10px;
}
#prev{
    background-image: url("img/prev.png");
    left: 10px;
}
#xett{
    height: 5px;
    background-color: red;
}